body {
	background-color: #eee;
	color: #000;
	padding-left: 10px;
}

#main {
	padding-left: 5px;
	padding-top: 5px;
}

#m-left {
	padding-left: 5px;
}

#m-right {
	padding-right: 5px;
}

.brand-large {
	font-size: 2rem;
}

center button {
	margin-left: 10px;
	margin-right: 10px;
}

.qContent {
	text-align: center;
}

#choiceInfo {
	padding-bottom: 5%;
	text-align: center;
	display: none;
}

.btn {
	font-size: 1.5rem;
}

#m-left {
	left: 0px;
	position: absolute;
}

#m-right {
	right: 0px;
	position: absolute;
}

.vCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.demoTitle {
	font-size: 3em;
	font-weight: 200 !important;
}

.creaTitle, li {
	font-size: 1.5em;
	font-weight: 300 !important;
}

.fadeIn {
	animation: fadeIn 1s linear;
}

.fadeOut {
	animation: fadeOut 1s linear;
}

.fadeInOut {
	animation: fadeInOut 3s linear infinite;
}

@keyframes fadeInOut {
    0% { opacity: 100%; }
    50% { opacity: 10%; }
	100% { opacity: 100%; }
}

@keyframes fadeIn {
	0% { opacity: 0%; }
	100% { opacity: 100%; }
}

@keyframes fadeOut {
	0% { opacity: 100%; }
	100% { opacity: 0%; }
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1em;
}

.qHeader {
	color: #16f;
}

.navbar-brand span,li {
	font-weight: 700;
}
